<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

    <h1>Delete</h1>
    <h2>Are you sure you want to delete?</h2>

    <p th:text="${student.firstName + ' ' + student.lastName}"></p>

    <form action="/delete" method="post">

        <input type="hidden" th:value="${student.studentId}" name="id">
        <input type="submit" value="YES" class="btn btn-del">

    </form>

    <a href="/" class="btn">NO</a>
</div>

</body>
</html>